#main{
	margin-left: 0px;
	text-align: center;
}

#form{
	text-align: center;
}
#msg{
	text-align: center;
	width: 200px;
	height: 200px;
	border: solid 1px black;
	margin-left: auto;
	margin-right: auto;
}
h1{
	color: blue;
}
.red{
	background-color: red;
	color: white;
}
.green{
	background-color: green;
	color:white;
}