<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Ninja Gold</title>
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <div id="wrapper">
            <form class="" action="/courses/delete/{{_id}}" method="post">
                <h2>Are You sure You Want to Delete the following course:</h2>
                insert some db stuff here
                <input type="submit" name="name" value="Yes I want to delete this">
                <a href="/">No </a>
            </form>
        </div>
    </body>
</html>
