<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8">
        <title>et phone home...</title>
        <link rel="stylesheet" href="{{url_for('static',filename='styles.css')}}" >
    </head>
    <body>
        <h1>hello world</h1>
        <div class="header">
            <h2>Enter Email Address</h2>
        </div>
        <form class="content_box" action="/results" method="post">
            <input type="text" name="email" value="{{email}}">
            <input type="submit" name="submit" value="">
        </form>
    </body>
</html>
