<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>show product</title>
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <div id="wrapper">
            <h2>Product {{_id}}</h2>
            <h4>Name:</h4> {{name}}
            <h4>Description:</h4>{{description}}
            <h4>Price:</h4> {{price}}

            <a href="/products/edit/{{_id}}">Edit</a>
            <a href="/Products">Back</a>
        </div>
    </body>
</html>
