<!doctype html>
<html lang='en'>
<head>
	<title>Registration Form</title>
	<meta charset='UTF-8'>
	<meta name='description' content='Ninja Gold'>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
	<div class='wrapper'>
		<h1>Shinobi School Registration Form</h1>

		<div>
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% if messages %}
			<ul class='flashes'>
				{% for category, message in messages %}
				<li class='{{ category }}'>{{message}}</li>
				{% endfor %}
			</ul>
			{% endif %}
		{% endwith %}
		</div>

		<form action='/process' method='POST'>
			Email: <input name='email' type='text'>
			First Name: <input name='first_name' type='text'>
			Last Name: <input name='last_name' type='text'>
			Password: <input name='password1' type='password'>
			Confirm Password: <input name='password2' type='password'>

			<input type='submit' name='submit' value='submit'>
		</form>

	</div><!-- wrapper -->
</body>
</html>