
#wrapper .log_reg{
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
#wrapper input{
    display: block;
    margin:4px auto;
}
#wrapper h4{
    text-align: center;
    font-weight: bold;
}
.header{
    padding: 15px 40px;
    background-color: #0a66c0;
}
.header *{
    display: inline-block;
    font-weight: bold;
    margin-top:8px;
    margin-right:15px;
}
.header form{
    float: right;
    margin-top: 5px;
}
.flashes{
    color:red;
    margin-left:auto;
    margin-right: auto;
    padding-left: 47%;
}
.wall{
    padding-top:50px;
    padding-left:10%;
    padding-right:10%;
    background-color: lightgray;
}
.wall textarea{
    width:100%
}
.wall input{
    margin-left:auto;
}

.wall .message{

}
.wall .comment{
    padding-left: 50px;
}
