<html>
	<head>
		<title>Ninja_Gold</title>
		<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	</head>
	<body>
		<h1>Your Gold {{session['gold']}}
		<form action="/reset" method="post">
  		<input type="hidden" name="reset" value="reset" />
  		<input type="submit" value="Start Over!"/>
		</form>
		</h1>
		
		<div>
		<h2>Farm</h2>
		<h3>(earns 10-20 golds)</h3>
		<form action="/process_money" method="post">
  		<input type="hidden" name="building" value="farm" />
  		<input type="submit" value="Find Gold!"/>
		</form> 
		</div>
		
		<div>
		<h2>Cave</h2>
		<h3>(earns 5-10 golds)</h3>
		<form action="/process_money" method="post">
  		<input type="hidden" name="building" value="cave" />
  		<input type="submit" value="Find Gold!"/>
		</form> 
		</div>
		
		<div>
		<h2>House</h2>
		<h3>(earns 2-5 golds)</h3>
		<form action="/process_money" method="post">
  		<input type="hidden" name="building" value="house" />
  		<input type="submit" value="Find Gold!"/>
		</form> 
		</div>
		
		<div id="casino">
		<h2>Casino</h2>
		<h3>(earns/takes 0-50 golds)</h3>
		<form action="/process_money" method="post">
  		<input type="hidden" name="building" value="casino" />
  		<input type="submit" value="Find Gold!"/>
		</form> 
		</div>
		
		<p>Activities:</p>
		<p>{{session['log']|safe}}</p>
		
	</body>
</html>

