<html>
  <head>
    <title>Success!</title>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
    <div class='wrapper'>
      <h1>Success! Welcome, {{user['first_name']}}</h1>
      {%with success = get_flashed_messages(category_filter=['success'])%}
        {%if success%}
          {%for message in success%}
            <p class='success'>{{message}}</p>
          {%endfor%}
        {%endif%}
      {%endwith%}
      <a href='/'>Go home</a>
    </div>
  </body>
</html>
