<!doctype html>
<html lang='en'>
<head>
	<title>Disappearing Ninjas</title>
	<meta charset='UTF-8'>
	<meta name='description' content='Ninja Gold'>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
	<div class='wrapper'>
		<h1>No ninjas here</h1>
		<img alt='leonardo' src="{{url_for('static', filename='Ninjas/leonardo.jpg')}}">
		<img alt='Michelangelo' src="{{url_for('static', filename='Ninjas/michelangelo.jpg')}}">
		<img alt='Raphael' src="{{url_for('static', filename='Ninjas/raphael.jpg')}}">
		<img alt='donatello' src="{{url_for('static', filename='Ninjas/donatello.jpg')}}">
	</div> <!--wrapper-->
</body>
</html>