<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
  <p>{{gold}}</p>
    <form class="" action="/process" method="POST">
		<input type="hidden" name="building" value="farm" />
	    <input type="submit" name="farm" value="Find Gold!"/>
	    <input type="hidden" name="building" value="cave" />
	    <input type="submit" name="cave" value="Find Gold!"/>
	    <input type="hidden" name="building" value="house" />
	    <input type="submit" name="house" value="Find Gold!"/>
	    <input type="hidden" name="building" value="casino" />
	    <input type="submit" name="casino" value="Find Gold!"/>	
    </form>
  </body>
</html>
