<html>
	<head>
		<title>Full Friends Assignment</title>
	</head>
	<body>
		<h1>Welcome to the Friends Resource Page!</h1>
		<h2>Please fill out the form to create a new Friend.</h2>
		
		<form action='/friends' method='POST'>
    	<label for="first_name">First Name:<input type="text" name="first_name" id="first_name"></label>
    	<label for="last_name">Last Name:<input type="text" name="last_name" id="last_name"></label>
    	<label for="email">Email:<input type="email" name="email" id="email"></label>
    	<!--time stamp needed-->
    	<input type="submit" value="Add">
		</form>



<h1>These are all my friends!</h1>

{% for friend in all_friends: %}
   <p>ID: {{ friend['id'] }}</p>
   <p>First Name: {{ friend['first_name'] }}</p>
   <p>Last Name: {{ friend['last_name'] }}</p>
   <p>Email: {{ friend['email'] }}</p>
   <p>Friends since: {{ friend['created_at'] }}</p>
   <a href='/friends/{{ friend['id'] }}/edit'>EDIT</a>
   <form method="POST" action='/friends/{{ friend['id'] }}/delete'>
   <input type="submit" value='DELETE'>
   </form>
   <hr>
{% endfor %}
	</body>

</html>