#main{
	width: 330px;
	border: solid 1px black;
	padding-left: 25px;
}
#one{
	margin-left: 100px;
	margin-top: 10px;
}
#two{
	margin-left: 45px;
	margin-top: 10px;
	width: 166px;
	height: 20px;
}
#three{
	margin-left: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
	width: 166px;
	height: 20px;
}
#four{
	display: block;
	width: 305px;
	height: 100px;
}
#five{
	margin-top: 10px;
	margin-left: 252px;
}