/**{
    color:red;
}*/

.half{
    width:50%;
    display: inline-block;
}
.friend_form{
    display: inline-block;
    text-align: center;
}
input{
    display: block;
}
.center{
    margin-left: auto;
    margin-right: auto;
}
