<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Login and Registration</title>
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <div id="wrapper">
            <form class="" action="/register" method="post">
                <h2>Registration</h2>
                <h4>First Name:</h4>
                <input type="text" name="fname" value="">
                <h4>Last Name:</h4>
                <input type="text" name="lname" value="">
                <h4>Email:</h4>
                <input type="text" name="email" value="">
                <h4>Password:</h4>
                <input type="text" name="password" value="" autocomplete="off">
                <h4>Confirm Password</h4>
                <input type="text" name="conf_password" value="" autocomplete="off">
                <input type="submit" name="login" value="Register">
            </form>
            <form class="" action="/login" method="post">
                <h2>Login</h2>
                <h4>Email:</h4>
                <input type="text" name="email" value="">
                <h4>Password:</h4>
                <input type="text" name="password" value="" autocomplete="off">
                <input type="submit" name="register" value="Login">
            </form>
        </div>
    </body>
</html>
