<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>My posts</title>
        <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    </head>
    <body>
        <div id="wrapper">
            <h1>My Posts</h1>
            <div class="all_da_posts">

            </div>
            <form action="/posts/create" method="post">
                <h4>Add a note:</h4>
                <textarea name="name" rows="8" cols="40"></textarea>
                <input type="submit" name="submit" value="Submit">
            </form>




        </div>
    </body>
</html>
