div {
	border:solid black 2px;
	display: inline-block;
	height: 200px;
	text-align: center;
	width: 200px;
}

#activities {
	border:solid black 2px;
	display: inline-block;
	height: 200px;
	text-align: left;
	width: 825px;
}